#cont {
    border: 2px black solid;
    background-color: azure;
    width: 400px;
    height: 300px;
    margin: 20px auto;

    display: grid;

    /* The number of lines we want we specify their space */
    /* grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: 40px 40px 40px; */

    /* Auto divides left space in equal space */
    /* grid-template-rows: 42px auto auto ;
    grid-template-columns:auto auto ; */
    
    /* Using repeat function : Unit used fr (fraction unit): 1 fraction of total available space */
    /* grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr); */

    /* Using fr */
    grid-template-rows: 1fr 2fr 3fr 4fr;
    grid-template-columns: 1fr 2fr;
}

div {
    border: 1px black solid;
    height: 40px;
    width: 30px;
    margin: 1px;
}


