<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home in EJS</title>
</head>
<body>
    <h1>Home Mother Father</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni soluta consectetur dolorem placeat libero adipisci harum suscipit aut hic, iusto est exercitationem qui natus molestias, enim dignissimos, amet maiores id!
    Quibusdam ipsum odit a? Saepe reiciendis laudantium est. Laborum architecto dolorum modi maiores magnam, ab, voluptate sapiente voluptatibus, non expedita nobis tempora doloribus! Aspernatur, cum ut! Ad veniam possimus maxime.
    Atque quis necessitatibus voluptatem asperiores dolorum ad velit iure nemo distinctio dolorem fugiat nesciunt officiis rerum ullam, architecto, facere quam temporibus provident perferendis! Mollitia iste quasi dolores laboriosam asperiores in.</p>
    <button>Submit</button>
</body>
</html>