<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is interpolation.</h1>
    <p>Here u use '<%%' '%%>' these tags to write the plain js in between them and get the results outputted</p>
    <%=2+2%>
</body>
</html>