<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dice Rolls : <%= num %></h1>
    <!-- This is how you write js in html 😂 -->
    <% if(num==6){ %>
        <h1>Voila You Got a Six</h1>
    <% } %>
</body>
</html>