<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>JJk Characters :</h1>
    <ul>
        <%for(ch of arr){ %>
            <li><h3><%= ch %></h3></li>
        <% } %>
    </ul>
</body>
</html>
