<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailed Post</title>
    <link rel="stylesheet" href="/detail.css">
</head>
<body>
    <h1>Post in Detail</h1>
    <div class="body">
        <div>
            <p class="name">Author :</p>
            <h2>@<%=post.username%></h2>
        </div>
        <hr>
        <div>
            <p class="id">ID : </p>
            <h3><%=post.id%></h3>
        </div>
        <div>
            <p class="cont">Content: </p>
            <h4><%=post.content%></h4>
        </div>
    </div>
</body>
</html>