<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update data of User with id: <%=data[0].id%></h1>
    <form action="/user/<%=data[0].id%>?_method=patch" method="post">
        <label for="user">Edit Username : </label>
        <textarea name="usr" id="user"><%=data[0].username%></textarea>
        <br><br>
        <label for="pass">Type Password : </label>
        <input type="password" name="pass" id="pass">
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>