div{ 
    width: 400px;
    height: 200px;
    margin: 10px auto;
    border: 1px black dotted;
    background-image: url(06_Img.jpg);
    background-size: cover;  
    /*Crop*/
    /* background-size: contain;  */
    /*Repeat*/
    /* background-size: auto;   */
    /*Stretch*/
}